body {
  padding: 0;
  margin: 0;
  min-width: 1020px;

  font-size: 18px;
  font-family: "Lato", "Arial", sans-serif;
  color: #767e9e;

  background-color: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  font: inherit;
  color: inherit;

  text-decoration: none;
  cursor: pointer;
}

.hide-text {
  position: absolute;

  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
  box-sizing: border-box;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 5.9px solid #323746;
}

.portfolio-container {
  padding-top: 60px;
  padding-bottom: 47px;
}

.portfolio-title {
  margin: 0;
  margin-bottom: 18px;

  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.2px;
}

.portfolio-intro {
  margin: 0;
  margin-bottom: 11px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: 0px;
}

.filters-wrapper {
  margin-bottom: 19px;
  margin-left: 1px;

  font-size: 0;
}

.filter-btn {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  font: inherit;
  font-size: 12px;
  color: #767e9e;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  word-spacing: -0.2px;
  
  background-color: transparent;
  border: 1px solid #666d89;
  border-radius: 5px;

  cursor: pointer;
}

.filter-btn-all {
  letter-spacing: 0.4px;
}

.filter-btn-design {
  padding-right: 5px;
  padding-left: 5px;

  word-spacing: 0.3px;
}

.filter-btn-artwork {
  padding-right: 5px;
}

.filter-btn + .filter-btn {
  margin-left: 10px;
}

.filter-btn:hover {
  color: #dedede;

  border-color: #c5c5c5;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-height: 625px;

  list-style: none;
  overflow: hidden; 
}

.portfolio-item {
  margin-bottom: 20px;
}

.about-us {
  padding-top: 60px;
  padding-bottom: 67px;

  border-bottom: 6px solid #ffffff;
}

.about-us-title {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}

.about-us-intro {
  margin: 0;
  margin-bottom: 46px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.member-card {
  max-width: 300px;
}

.member-card-photo {
  margin-left: -0.8px;
}

.team-member-name {
  margin-top: 15px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-left: -1px;

  font-size: 18px;
  color: #666d89;
  letter-spacing: -0.1px;

  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.team-member-desc {
  margin: 0;
  margin-bottom: 25px;

  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  text-align: justify;
}

.team-member-desc span {
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.first-member-desc {
  letter-spacing: -0.1px;
  word-spacing: 0.3px;
}

.team-member-contacts {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.first-member-contacts {
  padding-left: 1px;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 31px;
  
  background-image: url("assets/img/icon-fb.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-link:hover {
  border: 2px solid rgba(51, 66, 120, 0.4);
}

.social-google {
  background-image: url("assets/img/icon-google.png");
}

.social-tw {
  background-image: url("assets/img/icon-tw.png");
}

.social-linkedin {
  background-image: url("assets/img/icon-in.png");
}

.team-member-contacts li + li {
  margin-left: 8px;
}
