html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Lato", "Arial", sans-serif;
  color: #767e9e;
  background-color: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.mobile-overlay {
  display: none;
}

@media (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 11;
    background-color: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .header-menu-active .mobile-menu {
    width: 278px;
  }
}

@media (max-width: 767px) {
  .header-menu-active .mobile-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2D303A;
    opacity: 0.6;
    z-index: 11;
  }
}

@media (max-width: 767px) {
  .header-menu-active .logo {
    position: fixed;
    left: 30px;
    top: 10px;
    z-index: 11;
    left: 31px;
    top: 23px;
  }
}

@media (max-width: 767px) {
  .header-menu-active {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .header-menu-active .main-nav {
    display: flex;
    height: 100vh;
    width: 278px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
  }
}

@media (max-width: 767px) {
  .header-menu-active .nav-list {
    margin: auto;
    margin-left: 39px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 131px;
  }
}

@media (max-width: 767px) {
  .header-menu-active .service-item {
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .header-menu-active .service-link {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .header-menu-active .service-item + .service-item::before {
    display: none;
  }
}

.container {
  box-sizing: border-box;
  width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1019px) {
  .container {
    width: auto;
  }
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header-container {
  display: flex;
  padding-top: 29px;
  padding-bottom: 31px;
}
@media (max-width: 767px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 17px;
    justify-content: center;
  }
}

.burger-btn {
  display: none;
}
@media (max-width: 767px) {
  .burger-btn {
    height: 19px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26px;
    left: 20px;
    justify-content: space-between;
    width: 25px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 11;
  }
}

.burger-btn span {
  display: block;
  height: 2.5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.header-menu-active .burger-btn {
  position: fixed;
  z-index: 12;
  transform: rotate(90deg);
  transition: 0.5s;
}

.logo {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .logo {
    font-size: 20px;
    padding-right: 29px;
    padding-left: 40px;
    letter-spacing: -0.8px;
  }
}

.logo-star {
  color: #f06c64;
}

.main-nav {
  margin-right: 28px;
  margin-left: auto;
}
@media (max-width: 1019px) {
  .main-nav {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.nav-list {
  display: inline-flex;
  margin: 0;
  margin-top: 13px;
  padding: 0;
  list-style: none;
}
@media (max-width: 1019px) {
  .nav-list {
    margin-top: 10px;
  }
}

.service-item {
  position: relative;
  padding-left: 25px;
}
@media (max-width: 1019px) {
  .service-item {
    padding-left: 31px;
  }
}

.service-item + .service-item::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 13px;
  display: block;
  width: 2.5px;
  height: 2.5px;
  background-color: #ffffff;
  border-radius: 50%;
}

.service-link {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  transition: color 0.3s;
}

.service-link:hover {
  color: #f06c64;
}
@media (max-width: 767px) {
  .service-link:hover {
    color: #ffffff;
  }
}

.service-link.active {
  color: #f06c64;
  cursor: default;
}

.slider {
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: 1s;
}

.slider--bg-blue {
  background-color: #648BF0;
  border-bottom: 6px solid #648BF0;
  transition: 1s;
}

.slider-container {
  position: relative;
  min-height: 594px;
  overflow-x: hidden;
}
@media (max-width: 1019px) {
  .slider-container {
    min-height: auto;
    height: 445px;
  }
}
@media (max-width: 767px) {
  .slider-container {
    height: 214px;
  }
}

.slide {
  position: relative;
  min-height: 594px;
  width: calc(100%/4);
  flex-shrink: 0;
}
@media (max-width: 1019px) {
  .slide {
    min-height: 445px;
  }
}
@media (max-width: 767px) {
  .slide {
    min-height: 214px;
  }
}

.next-slide {
  transform: translateX(calc(-100%/4));
  transition: transform 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.prev-slide {
  transform: translateX(calc(100%/4));
  transition: transform 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.slider-arrow {
  position: absolute;
  top: 283px;
  left: 42px;
  z-index: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 27px;
  padding: 0;
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: inherit;
  background-color: transparent;
  background-image: url("assets/img/slider-arrow.png");
  border: none;
}
@media (max-width: 1019px) {
  .slider-arrow {
    top: 212px;
    left: 30px;
  }
}
@media (max-width: 767px) {
  .slider-arrow {
    top: 99px;
    left: 10px;
    background-size: 87%;
    background-repeat: no-repeat;
  }
}

.arrow-right {
  right: 39px;
  left: auto;
  transform: rotate(180deg);
}
@media (max-width: 1019px) {
  .arrow-right {
    right: 28px;
  }
}
@media (max-width: 767px) {
  .arrow-right {
    right: 10px;
    top: 95px;
  }
}

.slider-arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.slides-list {
  position: absolute;
  left: -100%;
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mockup-1-wrap {
  position: absolute;
  top: 53px;
  left: 113px;
}
@media (max-width: 1019px) {
  .mockup-1-wrap {
    top: 41px;
    left: 39px;
    width: 163px;
  }
}
@media (max-width: 767px) {
  .mockup-1-wrap {
    width: 79px;
    top: 20px;
    left: 36px;
  }
}
@media (max-width: 374px) {
  .mockup-1-wrap {
    width: 65px;
    top: 33px;
    left: 52px;
  }
}

.mockup-1-inner {
  position: relative;
}
@media (max-width: 1019px) {
  .mockup-1-inner {
    min-height: 445px;
    width: 682px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .mockup-1-inner {
    min-height: 208px;
    width: 366px;
  }
}
@media (max-width: 374px) {
  .mockup-1-inner {
    width: 328px;
  }
}

.mockup-1-wrap:hover {
  cursor: pointer;
}

.mockup-1-wrap:focus {
  outline: none;
}

.gorizontal-mockup {
  top: 55px;
  left: 546px;
  transform: rotate(90deg);
}
@media (max-width: 1019px) {
  .gorizontal-mockup {
    top: 41px;
    left: 367px;
  }
}
@media (max-width: 767px) {
  .gorizontal-mockup {
    top: 21px;
    left: 195px;
  }
}
@media (max-width: 374px) {
  .gorizontal-mockup {
    top: 35px;
    left: 172px;
  }
}

.mockup-1-wrap img {
  position: relative;
  z-index: 2;
  user-select: none;
}

.phone-shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 240px;
  height: 483px;
  background-image: url("assets/img/phone-shadow.png");
  background-repeat: no-repeat;
}
@media (max-width: 1019px) {
  .phone-shadow {
    width: 181px;
    height: 370px;
    background-size: 100%;
  }
}
@media (max-width: 767px) {
  .phone-shadow {
    width: 90px;
    height: 177px;
    background-size: 98%;
  }
}
@media (max-width: 374px) {
  .phone-shadow {
    width: 75px;
  }
}

.gorizontal-mockup .phone-shadow {
  top: -26px;
  background-image: url("assets/img/gorizontal-shadow.png");
}
@media (max-width: 1019px) {
  .gorizontal-mockup .phone-shadow {
    top: -18px;
  }
}
@media (max-width: 767px) {
  .gorizontal-mockup .phone-shadow {
    top: -10px;
  }
}

.mockup-1-wrap::after {
  content: "";
  position: absolute;
  top: 62px;
  left: 11px;
  z-index: 3;
  display: block;
  width: 194px;
  height: 339px;
  background-image: url("assets/img/screen--yellow.jpg");
  background-repeat: no-repeat;
}
@media (max-width: 1019px) {
  .mockup-1-wrap::after {
    top: 47px;
    background-size: 75%;
  }
}
@media (max-width: 767px) {
  .mockup-1-wrap::after {
    top: 23px;
    left: 5px;
    width: 95px;
    height: 150px;
  }
}
@media (max-width: 374px) {
  .mockup-1-wrap::after {
    width: 73px;
  }
}

.gorizontal-mockup::after {
  background-image: url("assets/img/screen--blue.jpg");
}
@media (max-width: 1019px) {
  .gorizontal-mockup::after {
    left: 9px;
  }
}
@media (max-width: 767px) {
  .gorizontal-mockup::after {
    top: 22px;
    left: 3px;
  }
}
@media (max-width: 374px) {
  .gorizontal-mockup::after {
    top: 20px;
    left: 5px;
  }
}

.mockup-disabled::after {
  background-image: url("assets/img/screen--disabled.svg");
}

.mockup-2-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 510px;
}
@media (max-width: 1019px) {
  .mockup-2-wrap {
    max-height: 445px;
  }
}
@media (max-width: 767px) {
  .mockup-2-wrap {
    max-height: 214px;
  }
}

@media (max-width: 1019px) {
  .mockup-2-wrap img {
    height: 335px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .mockup-2-wrap img {
    height: 180px;
  }
}
@media (max-width: 374px) {
  .mockup-2-wrap img {
    height: 145px;
  }
}

.services {
  border-bottom: 6px solid #ffffff;
}

.services-container {
  padding-top: 59px;
  padding-bottom: 29px;
  letter-spacing: -0.2px;
}
@media (max-width: 1019px) {
  .services-container {
    padding-top: 41px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .services-container {
    padding-right: 30px;
    padding-left: 32px;
    padding-top: 27px;
    padding-bottom: 22px;
  }
}

.services-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
}

.services-intro {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: 0.15px;
}
@media (max-width: 1019px) {
  .services-intro {
    margin-bottom: 36px;
    letter-spacing: 0.2px;
  }
}
@media (max-width: 767px) {
  .services-intro {
    margin-bottom: 29px;
  }
}

.low-spacing {
  letter-spacing: 0;
}
@media (max-width: 1019px) {
  .low-spacing {
    letter-spacing: 0.2px;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 1019px) {
  .services-list {
    justify-content: left;
  }
}

.services-item {
  box-sizing: border-box;
  width: 300px;
  min-height: 70px;
  flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 30px;
  padding-left: 79px;
  background-image: url("assets/img/icon-pen.svg");
  background-repeat: no-repeat;
  background-position: -2px 0px;
}
@media (max-width: 1019px) {
  .services-item {
    margin-right: 0;
    margin-bottom: 50px;
    background-position: -1px 2px;
    width: 43.7%;
  }
}
@media (max-width: 767px) {
  .services-item {
    width: 100%;
    margin-bottom: 26px;
    padding-right: 10px;
  }
}

@media (max-width: 1019px) {
  .services-item:nth-child(2n-1) {
    margin-right: 53px;
  }
}
@media (max-width: 767px) {
  .services-item:nth-child(2n-1) {
    margin-right: 0;
  }
}

.service-item-title {
  margin: 0;
  margin-bottom: 9px;
  overflow: hidden;
  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  text-transform: capitalize;
  letter-spacing: -0.1px;
  white-space: nowrap;
  text-overflow: clip;
}

.service-item-description {
  margin: 0;
  padding-left: 1px;
  max-height: 63px;
  overflow: hidden;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
  letter-spacing: 0;
  word-spacing: 0;
}
@media (max-width: 1019px) {
  .service-item-description {
    letter-spacing: 0.1px;
  }
}

@media (max-width: 1019px) {
  .item-desc-justify {
    letter-spacing: 0.4px;
    word-spacing: -3.2px;
  }
}

.item-description-love,
.item-description-star {
  margin-left: -1px;
  padding-left: 0;
}

@media (max-width: 1019px) {
  .item-description-love {
    letter-spacing: 0;
  }
}

.service-design {
  padding-left: 80px;
  background-position: -2px -1px;
}
@media (max-width: 1019px) {
  .service-design {
    background-position: -2px 0px;
  }
}

.service-ideas {
  background-image: url("assets/img/icon-idea.svg");
  background-position: -2px -1px;
}
@media (max-width: 1019px) {
  .service-ideas {
    background-position: -1px 0px;
  }
}

.service-love {
  padding-left: 81px;
  margin-right: 0;
  background-image: url("assets/img/icon-love.svg");
}
@media (max-width: 1019px) {
  .service-love {
    background-position: -1px 1px;
  }
}

.service-layout {
  padding-left: 80px;
  background-image: url("assets/img/icon-mobile.svg");
  background-position: -2px 0px;
}
@media (max-width: 1019px) {
  .service-layout {
    background-position: -1px 2px;
  }
}

.service-support {
  background-image: url("assets/img/icon-support.svg");
}

.service-support .service-item-title {
  word-spacing: 1.6px;
}

.service-star {
  padding-left: 81px;
  margin-right: 0;
  background-image: url("assets/img/icon-star.svg");
}
@media (max-width: 767px) {
  .service-star {
    margin-bottom: 0;
  }
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 5.9px solid #323746;
}

.portfolio-container {
  padding-top: 60px;
  padding-bottom: 51px;
}
@media (max-width: 1019px) {
  .portfolio-container {
    padding-bottom: 47px;
  }
}
@media (max-width: 767px) {
  .portfolio-container {
    padding-top: 42px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 27px;
    display: flex;
    flex-direction: column;
  }
}

.portfolio-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  letter-spacing: -0.2px;
}

.portfolio-intro {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: 0;
}
@media (max-width: 1019px) {
  .portfolio-intro {
    letter-spacing: 0.5px;
  }
}
@media (max-width: 767px) {
  .portfolio-intro {
    letter-spacing: 0.2px;
    margin-bottom: 17px;
  }
}

.filters-wrapper {
  margin-bottom: 13px;
  margin-left: 1px;
  font-size: 0;
}
@media (max-width: 1019px) {
  .filters-wrapper {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .filters-wrapper {
    margin-bottom: 19px;
  }
}

.filter-btn {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
  font: inherit;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  color: #767e9e;
  text-transform: capitalize;
  word-spacing: -0.2px;
  background-color: transparent;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 374px) {
  .filter-btn {
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
  }
}

.filter-btn:focus {
  outline: none;
}

.filter-btn-all {
  letter-spacing: 0.4px;
}

.filter-btn-design {
  padding-right: 5px;
  padding-left: 5px;
  word-spacing: 0.3px;
}

.filter-btn-artwork {
  padding-right: 5px;
}

.filter-btn + .filter-btn {
  margin-left: 10px;
}
@media (max-width: 374px) {
  .filter-btn + .filter-btn {
    margin-left: 4px;
  }
}

.filter-btn:hover,
.filter-btn.active {
  color: #dedede;
  border-color: #c5c5c5;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 620px;
  margin: 0;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 5px;
  padding-top: 5px;
  overflow-y: hidden;
  list-style: none;
}
@media (max-width: 1019px) {
  .portfolio-projects {
    max-height: 1100px;
  }
}
@media (max-width: 767px) {
  .portfolio-projects {
    max-width: 315px;
    max-height: 563px;
    align-self: center;
  }
}
@media (max-width: 374px) {
  .portfolio-projects {
    max-height: 472px;
    justify-content: center;
  }
}

.portfolio-item {
  margin-right: 20px;
  margin-bottom: 20px;
  transition: opacity 0.5s;
  width: calc((100% - 60px) / 4);
}
@media (max-width: 1019px) {
  .portfolio-item {
    width: calc((100% - 40px) / 3);
  }
}
@media (max-width: 767px) {
  .portfolio-item {
    margin-right: 0;
    width: 151px;
    height: 128px;
    margin-bottom: 14px;
  }
}
@media (max-width: 374px) {
  .portfolio-item {
    width: 123px;
    height: 105px;
  }
}

.portfolio-item:nth-child(4n) {
  margin-right: 0px;
}
@media (max-width: 1019px) {
  .portfolio-item:nth-child(4n) {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .portfolio-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (max-width: 1019px) {
  .portfolio-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .portfolio-item:nth-child(2n-1) {
    margin-right: 13px;
  }
}

@keyframes shufflePortfolio {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.portfolio-item.active {
  outline: 5px solid #F06C64;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.about-us {
  padding-top: 60px;
  padding-bottom: 67px;
  border-bottom: 6px solid #ffffff;
}
@media (max-width: 1019px) {
  .about-us {
    padding-top: 52px;
    padding-bottom: 69px;
  }
}
@media (max-width: 767px) {
  .about-us {
    padding-top: 33px;
    padding-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .about-us-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.about-us-title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
  letter-spacing: -0.2px;
}

.about-us-intro {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
}
@media (max-width: 1019px) {
  .about-us-intro {
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .about-us-intro {
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 31px;
    margin-bottom: 22px;
  }
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.member-card {
  max-width: calc((100% - 30px) / 3);
}
@media (max-width: 767px) {
  .member-card {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 767px) {
  .member-card {
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .member-card img {
    width: 100%;
  }
}

.member-card-photo {
  margin-left: -0.8px;
}

.team-member-name {
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: -1px;
  overflow: hidden;
  font-weight: 900;
  font-size: 18px;
  color: #666d89;
  letter-spacing: -0.1px;
  white-space: nowrap;
  text-overflow: clip;
}
@media (max-width: 1019px) {
  .team-member-name {
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 3px;
  }
}
@media (max-width: 767px) {
  .team-member-name {
    margin-top: 15px;
  }
}

.team-member-desc {
  margin: 0;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
  color: #767e9e;
}
@media (max-width: 1019px) {
  .team-member-desc {
    margin-bottom: 15px;
  }
}

.team-member-desc span {
  letter-spacing: 0;
  word-spacing: 0.2px;
}

.first-member-desc {
  letter-spacing: -0.1px;
  word-spacing: 0.3px;
}

.team-member-contacts {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.first-member-contacts {
  padding-left: 1px;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 32px;
  height: 31px;
  background-image: url("assets/img/icon-fb.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social-link:hover {
  border: 2px solid rgba(51, 66, 120, 0.4);
}

.social-google {
  background-image: url("assets/img/icon-google.png");
}

.social-tw {
  background-image: url("assets/img/icon-tw.png");
}

.social-linkedin {
  background-image: url("assets/img/icon-in.png");
}

.team-member-contacts li + li {
  margin-left: 8px;
}

.team-member-contacts li + li,
.footer-contacts li + li {
  margin-left: 8px;
}

.request {
  padding-top: 59px;
  padding-bottom: 59px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
@media (max-width: 1019px) {
  .request {
    padding-top: 54px;
    padding-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .request {
    padding-top: 44px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .request-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.request-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 30px;
  color: #f0d8d9;
  letter-spacing: -0.2px;
}

.request-intro {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  color: #F0D8D9;
}
@media (max-width: 1019px) {
  .request-intro {
    text-align: unset;
    letter-spacing: 0.2px;
    margin-bottom: 23px;
  }
}

.request-content-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .request-content-wrap {
    flex-direction: column;
  }
}

.request-form {
  position: relative;
  width: 619px;
  padding-top: 2px;
}
@media (max-width: 1019px) {
  .request-form {
    width: 64%;
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  .request-form {
    width: 100%;
  }
}

.request-form input,
.request-form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9.5px;
  padding-left: 14.4px;
  font: inherit;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #f0d8d9;
  letter-spacing: 0.05px;
  word-spacing: -0.19px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}
@media (max-width: 1019px) {
  .request-form input,
.request-form textarea {
    margin-bottom: 12px;
    padding-left: 9px;
  }
}

.request-form input::placeholder,
.request-form textarea::placeholder {
  font: inherit;
  font-weight: 400;
  font-size: 12px;
  color: #f48c8f;
}

.request-form input::-webkit-input-placeholder {
  color: #f48c8f;
}

.request-form textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

.request-form .name-input {
  padding-top: 9px;
  padding-bottom: 9px;
}

.request-form .desc-input {
  min-height: 158px;
  padding-top: 8px;
  letter-spacing: 0.04px;
}
@media (max-width: 1019px) {
  .request-form .desc-input {
    padding-top: 5px;
    margin-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .request-form .desc-input {
    margin-bottom: 14px;
  }
}

.desc-input {
  resize: none;
}

.submit-btn {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  min-width: 136px;
  font: inherit;
  letter-spacing: 0.4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  vertical-align: middle;
  text-align: center;
  color: #886A30;
  text-transform: uppercase;
  background-color: #FBC65F;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
@media (max-width: 767px) {
  .submit-btn {
    padding-top: 16px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 31px;
  }
}

.submit-btn:hover {
  background-color: transparent;
  border: 1px solid #f0d8d9;
  color: #f0d8d9;
}

.submitMessage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f06c64;
}

.contacts {
  width: 301px;
}
@media (max-width: 1019px) {
  .contacts {
    width: 32%;
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  .contacts {
    width: 100%;
  }
}

.contacts-title {
  margin: 0;
  margin-bottom: 9.7px;
  padding-left: 1px;
  font-weight: 900;
  font-size: 18px;
  color: #f0d8d9;
  letter-spacing: -0.1px;
}
@media (max-width: 1019px) {
  .contacts-title {
    margin-bottom: 2px;
  }
}

.contacts-explanation {
  margin: 0;
  margin-bottom: 20px;
  margin-left: -1px;
  padding-left: 1.9px;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  color: #f0d8d9;
  letter-spacing: 0;
  word-spacing: -0.9px;
}
@media (max-width: 1019px) {
  .contacts-explanation {
    line-height: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .contacts-explanation {
    letter-spacing: 0.1px;
  }
}

.explanation-mark {
  line-height: 22px;
  letter-spacing: -0.03px;
  word-spacing: 0.2px;
}

.contacts-list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .contacts-item {
    margin-bottom: 3px;
  }
}

.contacts-link {
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 14px;
  color: #f0d8d9;
  background-image: url("assets/img/icon-location.png");
  background-repeat: no-repeat;
  background-position: 4px 50%;
}
@media (max-width: 767px) {
  .contacts-link {
    background-position: 2px 50%;
  }
}

.contacts-link-phone {
  background-image: url("assets/img/icon-phone.png");
  background-position: 2px 50%;
}
@media (max-width: 767px) {
  .contacts-link-phone {
    background-position: 1px 57%;
  }
}

.contacts-link-mail {
  background-image: url("assets/img/icon-mail.png");
  background-position: 1px 61%;
}

.contacts-link:hover {
  color: #ffffff;
}

.main-footer {
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: #2d303a;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-copyright {
  display: block;
  width: 210px;
  font-weight: 900;
  font-size: 13px;
  color: #666D89;
  letter-spacing: 0.3px;
  word-spacing: -1.3px;
}
@media (max-width: 767px) {
  .footer-copyright {
    display: none;
  }
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
  width: 180px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .footer-contacts {
    margin: auto;
    padding-right: 27px;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.overlay.animated {
  opacity: 1;
  transition: 0.6s;
}

.messageInner {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
  width: 350px;
  background-color: #f2f2f2;
  border-top: 6px solid #FBC65F;
  max-height: 500px;
  color: #666d89;
  transform: scale(0);
  overflow: auto;
}
@media (max-width: 767px) {
  .messageInner {
    width: 270px;
  }
}
@media (max-width: 374px) {
  .messageInner {
    width: 170px;
  }
}

.overlay.animated .messageInner {
  transform: scale(1);
  transition: 0.6s;
}

.message-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
}

.message-subject {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.message-descr {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}

.insertedText {
  color: #202434;
}

.message-btn {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  padding-top: 6px;
  padding-right: 55px;
  padding-bottom: 6px;
  padding-left: 55px;
  font: inherit;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  word-spacing: -0.2px;
  background-color: #202434e5;
  color: #f2f2f2;
  border: 1px solid #666d89;
  cursor: pointer;
  transition: 0.4s;
}

.message-btn:hover {
  background-color: transparent;
  color: #767e9e;
}

/*# sourceMappingURL=style.css.map */
